# Laravel default
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.*.local
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log

# Laravel Cloud / deployment ready
/public/build
/public/mix-manifest.json
/build/
.idea
.vscode
.DS_Store
Thumbs.db

# Jetstream / Breeze / frontend-related
/resources/js/bootstrap.js
/resources/sass
/resources/css/app.css
